.homeBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.vidro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: rgb(255, 255, 255);
}

.homeBody h1 {
    padding: 2rem;
    font-weight: 800;
    font-size: 3rem;
}

.btns {
    display: flex;
}

.btns button {
    width: 10rem;
    height: 4rem;
    margin: 0 1rem 2rem 0;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: rgba(102, 102, 102);
    font-size: 1.3rem;
    transition: all .3s ease-in-out;
}

.btns button:hover {
    background-color: rgba(102, 102, 102, 0.671);

}

.homeLogout {
    display: flex;
    justify-content: center;
}

.users {
    text-align: center;
}

.msg {
    height: 2rem;
    padding: 2rem;
}