@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

.usersBody {
    background-color: rgba(0, 0, 0, 0.36);
    padding: 2rem;
}

.usersBody p {
    font-family: 'Orelega One', cursive;
    font-size: 3rem;
}